<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_ai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAI"
        tools:targetApi="31">
        <activity
            android:name=".loader"
            android:exported="false" />
        <activity
            android:name=".Teacher_Profile"
            android:exported="false" />
        <activity
            android:name=".ClassProgress"
            android:exported="false" />
        <activity
            android:name=".Homework"
            android:exported="false" />
        <activity
            android:name=".Extra"
            android:exported="false" />
        <activity
            android:name=".Upcoming_event"
            android:exported="false" />
        <activity
            android:name=".To_Do"
            android:exported="false" />
        <activity
            android:name=".No_Internet"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".ArwachinIndia"
            android:exported="false" />
        <activity
            android:name=".Planner"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".Teacher_Nav"
            android:exported="false" />
        <activity
            android:name=".Student_Nav"
            android:exported="false" />
        <activity
            android:name=".Teacher_Login"
            android:exported="false" />
        <activity
            android:name=".Student_Login"
            android:exported="false" />
        <activity
            android:name=".Logo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>